@page {
    size: 140mm 200mm;
}

.debug .pagedjs_page {
}

.pagedjs_page {
    counter-increment: page;
}
.pagedjs_margin-bottom:before {
    /*content: var(--pagedjs-page-count);*/
    content: counter(page);
    
}

@font-face {
    font-family: Code;
    src: url("../fonts/CutiveMono-Regular.ttf");
}
@font-face {
    font-family: Text;
    src: url("../fonts/cmunui.ttf");
}

body {
    font-family: Text;
}

pre,
code {
    font-family: Code;
}

img {
    max-width: 100%;
    max-height: 100%;
}