@font-face {
  font-family: HerscheyTimes;
  src: url("/theme/fonts/hersheytimes.otf");
}
@font-face {
  font-family: ocr-pbi;
  src: url("/theme/fonts/Ocr-Pbi-pen_x1_y1.ttf");
}
@font-face {
  font-family: "Breite Grotesk";
  src: url("/theme/fonts/Breite-Grotesk-Regular.otf");
}

body {
font-family: "Breite Grotesk";
font-size: var(--font-size);
line-height:  var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
font-family: HerscheyTimes;
line-height: 1.5em;
}

h1 {
font-size: calc(var(--font-size) * 1.75);
line-height: 1.5em;
margin-top: 0;
padding-bottom: 1em;
}

h2 {
font-size: calc(var(--font-size) * 1.5);
line-height: 1.5em;
padding-top: 1.5em;
padding-bottom: 1.5em;
}



pre,
code {
font-family: ocr-pbi;
white-space: pre-wrap;
margin: var(--line-height) 0;
outline: 1px dotted black;
outline-offset: 2px;
}

code {
  
}

pre code {
outline: 0;
}

pre {
/* padding: var(--line-height); */
/* font-size: 0.8em; */
}

code {
margin-left: 2px;
margin-right: 2px;
padding: 0 4px;
font-size: 0.9em;
}

.linenodiv pre {
padding: 0;
padding-right: 0.5em;
outline: 0;
}



a {
color: inherit;
}

a:hover {
text-decoration:  none;
}

em {
font-style: italic;
}

strong {
font-weight: bold;
}

p {
    padding: var(--line-height) 0;
}

p + p {
    padding-top: 0;
}

figure {
text-align: center;
}

img {
max-width: 100%;
max-height: 100%;
}

ul, ol {
    padding: 0;
    border-left: 1px solid black;
    padding-left: calc(var(--line-height) /2);
    box-sizing: border-box;
}
ol {
padding-left: calc(1.5 * var(--line-height));
}

ul li:before {
content: "– ";
}

section ul li {
    text-indent: -18px;
    margin-left: 18px;
}

ol > li {
list-style-type: decimal;
}

figcaption p {
    padding: 0;
}

sup {
font-size: 0.75em;
line-height: 0;
vertical-align: 0.5em;
}

.ref {
font-style: italic;
}


blockquote {
    padding: var(--line-height) calc(var(--line-height) /2);
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: var(--line-height);
}

blockquote p {
border-left: 1px solid black;
border-right: 1px solid black;
padding: 0 1em;
}

table {
display: block;
padding: var(--line-height) 0;
}

.section {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    padding-bottom: var(--line-height);
}

.section .subsection  {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    margin-left: -1.5em;
    padding-bottom: var(--line-height);
}
.section.exercise .section,
.section.exercise .subsection {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    
}

h4 ~ p,
h4 ~ ol,
h4 ~ ul,
h4 ~ blockquote,
h4 ~ table,
h4 ~ div,
h3 ~ h4 {
    border-left: 4em solid #F8F8F8;
    padding-left: 1.5em;
    margin-left: calc(-1.5em - 1px);
}

h2 + ul {
    border: 0;
    padding-left: 0;
}


div.exercise {
    outline: 8px double black;
    padding: 1.5em;
    margin-bottom: 3em;
    margin-top: 1.5em;
    border: 0;
}

div.footnote {
    font-size: 0.7em;
    line-height: 1.2em;
}

div.footnote hr {
display: none;
}

div.footnote ol {
column-count: 2;
column-gap: 1.5em;
border: 0;
padding-left: 1em;
}

div.footnote p {
    padding-top: 0;
}

div.footnote a {
word-break: break-all;
word-break: all;
}

a.footnote-backref {
    color: darkgray;
    text-decoration: none;
}

a.footnote-backref:hover {
    color: black;
}
