:root {
    --font-size: 1.1vw !important;
    --line-height: 1.25em !important;
}

body  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6%;
}

section.nav {
    position: fixed;
    left: 0;
    z-index: 10000;
}

nav {
    height: 100vh;
    width: 300px;
    display: block;
}

nav header {
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left: -120px;
}

nav h1 {
    font-size: 1.3em;
    line-height: 1.5em;
}

nav ul {
    display: none;
    font-size: 18px;
    line-height: 1.3em;
    top: 450px;
    position: absolute;
    background: white;
}
nav:hover ul {
    display: block;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    margin-left: 15px;
    text-indent: -15px;
}

nav ul a.active {
    font-size: 1.5em;
    line-height: 1.25em;
}

section {
    flex-basis: 45%;
}

#canvas {
    position: sticky;
    top: 0;
}

main {
    flex-basis: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: calc(2 * var(--line-height));
}

h2 {
    counter-increment: h2;
}
h2:before {
    content: counter(h1) + "." + counter(h2);
}

#canvas iframe {
    height: 100vh;
}

main .active {
    background-color: lightyellow;
}
