<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}



        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reset.css" type="text/css" media="all" charset="utf-8">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/codehilite.css" type="text/css" media="all" charset="utf-8">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" type="text/css" media="all" charset="utf-8">
        {% endblock head %}

        {% block extra_css %}
        {% endblock %}


</head>

<body id="index" class="home">
        <section class="nav">
            <nav id="menu">
                <header id="banner" class="body">
                        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
                </header><!-- /#banner -->
                    <ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                  {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                  {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                  {% endfor %}
                {% endif %}
                </ul>
            </nav><!-- /#menu -->
        </section>

        <section class="left">
            <div id="canvas">
            </div>
        </section>

        <main {% block attr %} {% endblock %}>
        {% block content %}
        {% endblock %}
        </main> 




    <script  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        pad = "http://pads.osp.kitchen/p/aesthetic-programming.css";

        $(document).ready(function(){
            setTimeout(function(){
                $("#styles").load(pad + "/export/txt", function(){
                });
            });
        });
    </script>
    <style type="text/css" media="all" id="styles" > </style>


    <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>

<!--<script type="text/p5">-->
    <script>
        pre_set = document.querySelectorAll(".exec .highlight pre");
        canvas = document.querySelector("#canvas");
console.log(canvas);
        for (var i = 0; i < pre_set.length; i++){
            script = "<script type='text/p5' data-layout='vertical'>" + pre_set[i].innerText + "<\/script>";
            canvas.innerHTML = script;
            console.log(pre_set[i].innerText);
        } 
    </script>


    <script>
        function Hsection(e, i, HX){
            if(e.tagName == "H2") {
                // create a new numbered section
                section = document.createElement('section');
                section.classList.add('section');
                section.setAttribute('id', 'section' + i);
                e.parentNode.insertBefore(section, e.nextSibling);

                // add a numbered class to elements until the next h2
                while(e.nextElementSibling != null && e.nextElementSibling.tagName != HX) {
                    classe = "section-" + i;
                    e.classList.add(classe);
                    e.nextElementSibling.classList.add(classe);
                    e = e.nextElementSibling;
                }

                // we put all numbered elements in dedicated section
                items = document.getElementsByClassName('section-' + i);

                [].forEach.call(items, function(item) {
                        section.appendChild(item);
                })

            }
            if(e.tagName == "H3") {
                subsection = document.createElement('div');
                subsection.classList.add('subsection');
                subsection.setAttribute('id', 'subsection' + i);
                e.parentNode.insertBefore(subsection, e.nextSibling);

                // add a numbered class to elements until the next h2
                while(e.nextElementSibling != null && e.nextElementSibling.tagName != HX) {
                    classe = "subsection-" + i;
                    e.classList.add(classe);
                    e.nextElementSibling.classList.add(classe);
                    e = e.nextElementSibling;
                }

                // we put all numbered elements in dedicated section
                items = document.getElementsByClassName('subsection-' + i);

                [].forEach.call(items, function(item) {
                        subsection.appendChild(item);
                })
            }
        }


        document.addEventListener('DOMContentLoaded', function() {

            // AUTOMATIC SECTION WRAPPING
            h2s = document.getElementsByTagName("h2");
            h3s = document.getElementsByTagName("h3");

            [].forEach.call(h2s, function(e, i){
                Hsection(e, i, "H2");
            }), 

                window.setTimeout(function(){
                [].forEach.call(h3s, function(f, i){
                    Hsection(f, i, "H3");
                });
                }, 2000);

        });
    </script>

</body>
</html>
