{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block extra_css %}
    <style>
        h1 {
            counter-reset: h1 {{ page.order }};
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
    <!-- <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/activateSnippets.js"></script> -->
{% endblock %}

{% block sketch %}
    {% if page.sketch %}
        <section id="canvas">
            <script type="text/p5" data-editor-layout="vertical" data-autoplay="autoplay"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ page.sketch }}"
                data-p5-path="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ p5 }}}}"
                {% if requirements %}
                    data-requirements="{% for requirement in requirements %}{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ requirement }}{% if not loop.last %}, {% endif %}{% endfor %}"
                {% endif %}>
            </script>
        </section>
    {% endif %}
{% endblock %}