<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ SITENAME }}</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css" type="text/css" media="all" charset="utf-8">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/interface-0.1.css" type="text/css" media="all" charset="utf-8">
  <script type="text/javascript" charset="utf-8" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/paged.polyfill.js">  </script>

    <script  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        // URL DE VOTRE PAD ICI
        //pad = "https://semestriel.framapad.org/p/aesthetic-programmingcss";
        pad = "http://pads.osp.kitchen/p/aesthetic-programming.css";


        $(document).ready(function(){ 
            setTimeout(function(){ 
                $("#styles").load(pad + "/export/txt"); 
            }, 50);
        });
    </script>
</head>
<body>
    <style type="text/css" media="screen" id="styles" >
        
    </style>
  {{ page.content }}
</body>
</html>
